@import "./colors.css";

* {
  transition: none;
  box-shadow: none;
}

#waybar {
  color: @primary;
  background: @background;
}

#tags {
  margin-top: 4px;
  margin-left: 4px;
  margin: 4px 2px;
  padding: 0 6px;
  border-radius: 4px;
  padding: 1px;
  background-color: @base02;
}

#tags button {
  margin: 1px;
  padding: 1px;
  color: @base01;
  border: 2px solid @base02;
}

#tags button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: @base02;
}

#tags button.focused {
  color: @base02;
  background-color: @base01;
  border: 2px solid @base02;
}

#tags button.occupied {
  border: 2px solid @base01;
}

#tags button.urgent {
  border: 2px solid @base05;
}

#tags button.occupied.urgent {
  border: 2px solid @base05; 
}

#tags button.focused.occupied {
  color: @secondary;
  background-color: @base01;
  border: 2px solid @base01;
}

#tray {
  margin: 4px 16px 4px 4px;
  border-radius: 4px;
  background-color: @base02;
}

#tray * {
  padding: 0 6px;
  border-left: 1px solid @background;
}

#tray *:first-child {
  border-left: none;
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail, #clock, #temperature {
  margin: 4px 2px;
  padding: 0 6px;
  border-radius: 4px;
  min-width: 20px;
  background-color: @base02;
}

#pulseaudio.muted {
  color: @base0F;
}

#pulseaudio.bluetooth {
  color: @base0C;
}

#clock {
  margin-left: 12px;
  margin-right: 4px;
  background-color: transparent;
}

#temperature.critical {
  color: @base0F;
}

