@import "./colors.css";

* {
    border: none;
    /*font-family: Roboto;*/
    font-size: 14px;
    min-height: 0;
    transition-duration: 300ms;
    transition-timing-function: ease;
    box-shadow: none;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.7);
    border-bottom: 2px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#waybar {
    color: @primary;
    background: @background;
}

#tags {
    padding: 3px;
}

#tags button {
    padding: 4px;
    color: @base01;
    border: 2px solid transparent;
}

#tags button.occupied {
    border: 2px solid @secondary;
    color: @secondary;
}

#tags button.urgent {
    border: 2px solid @base05;
}

#tags button.occupied.urgent {
    border: 2px solid @base05;
}

#tags button.focused.occupied {
    color: @primary;
    background-color: @base01;
}

#tags button.focused {
    color: @primary;
    background-color: @base01;
    border: 2px solid @primary;
}

#tags button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: @base04;
    color: @primary;
    border: 2px solid @primary;
}

#tray {
    margin: 4px 16px 4px 4px;
    border-radius: 4px;
    background-color: @base02;
}

#tray * {
    padding: 0 6px;
    border-left: 1px solid @background;
}

#tray *:first-child {
    border-left: none;
}

#mode,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#keyboard-state,
#custom-storage,
#custom-weather,
#custom-mail,
#custom-net-speed,
#temperature,
#clock {
    margin: 4px 2px;
    padding: 0 6px;
    border-radius: 4px;
    min-width: 20px;
    background-color: @base04;
}

#clock {
    margin-left: 12px;
    margin-right: 4px;
    background-color: transparent;
}

#temperature.critical {
    color: @base0F;
}

#pulseaudio.muted {
    color: @base0F;
}

#pulseaudio.bluetooth {
    color: @base0C;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
