@import "./colors.css";

* {
    border: none;
    font-family: Fira Code;
    font-size: 14px;
    min-height: 0;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    box-shadow: none;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.75);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#waybar {
    color: @primary;
    background: @background;
}

#tags,
#workspaces {
    margin: 2px;
    padding: 2px;
}

#tags button,
#workspaces button {
    margin: 1px; 
    padding: 2px;
    color: @base01;
    border: 2px solid @base01;
}

#tags button.occupied {
    border: 2px solid @secondary;
    color: @secondary;
    background-color: @base01;
}

#workspaces button.persistent {
    color: @base02;
    border: 2px solid @base02;
}

#tags button.urgent,
#workspaces button.urgent {
    border: 2px solid @base05;
}

#tags button.occupied.urgent,
#workspaces button.urgent {
    border: 2px solid @base05;
}

#tags button.focused.occupied {
    color: @primary;
    background-color: @base01;
}

#tags button.focused,
#workspaces button.focused {
    color: @primary;
    background-color: @base01;
    border: 2px solid @primary;
}

#tags button:hover,
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: @base04;
    color: @primary;
    border: 2px solid @primary;
}

#workspaces button {
    border: 2px solid @secondary;
    color: @secondary;
}

/* sway mode */
#mode { /* Shown current Sway mode (resize etc.) */
    color: @mode;
    padding: 3px;
    margin: 3px;
    border: 2px dashed @base01;
    border-radius: 4px;
}

#window { /* Shown current Sway mode (resize etc.) */
    color: @window;
    padding: 2px;
    margin: 2px;
    border: 2px dashed @base01;
    border-radius: 4px;
}

#window
#mode,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#keyboard-state,
#custom-storage,
#custom-weather,
#custom-mail,
#custom-net-speed,
#temperature,
#clock {
    margin: 2px;
    padding: 0 2px;
    border-radius: 2px;
    min-width: 20px;
    background-color: @base04;
}

#clock {
    margin-left: 10px;
    margin-right: 4px;
}

#temperature.critical {
    color: @base0F;
}

#pulseaudio.muted {
    color: @base0F;
}

#pulseaudio.bluetooth {
    color: @base0C;
}

#language {
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    padding: 0 3px;
    margin: 0 3px;
    min-width: 18px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
}

#tray {
    margin: 4px 16px 4px 4px;
    background-color: @base02;
}

#tray * {
    padding: 0 4px;
    border-left: 1px solid @background;
}

#tray *:first-child {
    border-left: none;
}
