[Unit]
Wants=network-online.target
After=network-online.target
Description=notify startup

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/local/bin/startup.sh'
Requires=network.target
After=network.target
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
